@page
@model Mission09_ma495.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase! Enjoy your books</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>